body {
    background-color: var(--primary);
}
.vh-100 {
    height: 100vh;
}
.LoginBox {
    width: 400px;
    margin: auto;
    max-width: calc( 100% - 30px );
}
.logo {
    max-width: 128px;
}
.menu-sidebar {
    min-width: 250px;
    background-color: var(--primary);
}
.menu-sidebar a, .menu-sidebar a:hover {
    color: var(--white);
    text-decoration: none;
}
.menu-sidebar ul {
    margin: 0;
    padding: 0;
    margin-left: 15px;
    margin-top: 15px;
    list-style: none;
}
.menu-sidebar ul>li {
    position: relative;
}
.menu-sidebar ul>li>a {
    display: block;
    padding: 8px 15px;
    text-transform: uppercase;
}
.menu-sidebar ul>li.active>a {
    background-color: var(--light);
    border-radius: 30px 0 0 30px;
}
.menu-sidebar ul>li.active, .menu-sidebar ul>li.active>a {
    color: var(--primary);
}
.menu-sidebar ul>li.has-dropdown:after {
    content: "\ee36";
    font-family: "Icomoon";
    position: absolute;
    right: 15px;
    top: 7px;
    transition: all ease 300ms;
}
.menu-sidebar ul>li.has-dropdown.open:after {
    content: "\ee19";
}
.menu-sidebar ul>li.has-dropdown.open.active:after {
    content: '\f166';
}
.menu-sidebar ul li ul {
    margin: 0;
    padding:0;
}
.menu-sidebar ul li ul {
    display: none;
}
.menu-sidebar ul li.active.open ul {
    display: block;
}
.menu-sidebar ul ul a {
    padding-left: 35px;
}
.dash-block-group .card>.btn {
    border-radius: 0;
}
.dash-block-group [class^='col-'] .card {
    overflow: hidden;
    border-radius: 8px;
    color: var(--white);
    border: none;
    box-shadow: 10px 10px 10px #ccc;
    position: relative;
    margin-bottom: 30px;
}
.dash-block-group [class^='col-'] .card .dash-img {
    position: absolute;
    right: 0px;
    top: 50%;
    transform: translateY(-50%);
    margin-top: -20px;
    z-index: 0;
}
.dash-block-group [class^='col-'] .card .progress {
    position: relative;
    z-index: 2;
    height: 10px;
    border: none;
}
.dash-block-group [class^='col-']:nth-child(3n + 1) .card .progress .progress-bar {
    background-color: #8e44ad;
}
.dash-block-group [class^='col-']:nth-child(3n + 2) .card .progress .progress-bar {
    background-color: #16a085;
}
.dash-block-group [class^='col-']:nth-child(3n + 3) .card .progress .progress-bar {
    background-color: #e67e22;
}
.dash-block-group [class^='col-']:nth-child(3n + 1) .card-body {
    background: linear-gradient(90deg, #16a085, #2ecc71);
}
.dash-block-group [class^='col-']:nth-child(3n + 2) .card-body {
    background: linear-gradient(90deg, #e67e22, #f39c12);
}
.dash-block-group [class^='col-']:nth-child(3n + 3) .card-body {
    background: linear-gradient(90deg, #8e44ad, #af71c7);
}
.dash-table .img-circle {
    width: 48px;
}
.dash-table .subheading {
    color: #999;
}
.master-icon {
    font-size: 72px;
}
.box-link {
    position: relative;
}
.card {
    border-radius: 8px;
    overflow: hidden;
    border: none;
    box-shadow: 10px 10px 10px #ccc;
}
.card .card-header {
    border-top: 2px solid var(--primary);
    border-radius: 8px 8px 0 0;
    background: var(--white);
    font-weight: bold;
}
.card .btn {
    border-radius: 15px 0 0 15px;
    transition: all ease .3s;
}
.card-danger .card-header {
    border-top-color: var(--danger);
}
.card-danger .btn {
    background-color: var(--danger) !important;
    border-color: var(--danger);
}
.card-danger .btn:not(:hover) {
    opacity: 0.8;
}
.box-link>a {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}
.btn.action-btn {
    border-radius: 3px;
}
.panel-head {
    background-color: var(--white);
    height: 50px;
    justify-content: flex-end;
    align-items: center;
    display: flex;
    padding: 0 15px;
    box-shadow: 1px 0 10px #cccccc;
}
.panel-head a {
    margin-left: 15px;
}
.flex-fill {
    flex-grow: 1;
}
.profile-img img {
    max-width: 72px;
}

.dash-block .card-body {
    position: relative;
}
.dash-block .card-body>a {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.table-img {
    width: 100px;
    height: 100px;
    object-fit: contain;
}

.cart-btn-group {
    border: 1px solid #ccc;
    border-top: 0;
    border-radius: 0 0 15px 15px;
}
.add_to_cart_btn {
    width: 120px;
    max-width: 100%;
    border-radius: 15px !important;
}
.input-sppiner {
    width: 120px;
    max-width: 100%;
}
.input-sppiner input[type=number] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-color: var(--secondary);
    border-left: 0;
    border-right: 0;
    outline: none;
    box-shadow: none;
    text-align: center;
}
.input-sppiner input::-webkit-outer-spin-button,
.input-sppiner input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.input-sppiner .input-group-prepend .btn {
    border-radius: 15px 0 0 15px;
    border-right: 0;
}
.input-sppiner .input-group-append .btn {
    border-radius:  0 15px 15px 0;
    border-left: 0;
}
